extends ../layout/main

block variables
  - var title = 'Webpack + Pug';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'index-page';

block content
  section
    .container
      +item('item title', 'item descr')
      +item('item title', 'item descr')
      +item('item title', 'item descr')
  example-component


block script
  script(type='text/javascript').
    const foo = true;
    let bar = function(a, b) {
      console.log(a + b)
    };
    if (foo) {
    bar(2315,5)
    }